/* body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .form-container {
    font-size: 22px;
    height: auto; /* Adjusts to content */
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 20px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(10, 0, 0, 0.1);
  }
  
 .form-container h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .user-form-group {
    /* width: 120%; */
    /* width: 120%; Fixed width adjustment */
    margin-bottom: 15px;
    border: #0056b3 3px dotted;
    display: flex;
    flex-direction: column; /* Aligns label and input vertically */
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
  }
  
  .formin,
  select {
    width: 500px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .formin:focus,
  select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  